body {
    /* 
        Setting up some global rules for the webpage : 

        - default font-family to use for all text
        - default text-color and size
        - remove default margins of the body element
    */

    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 0;
}

a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}

.page {
    display: grid;
    grid-template-columns: 
        [left-margin] 1fr 
        [content-col-1] calc(1140px * 2/3) 
        [content-col-2] calc(1140px * 1/3) 
        [right-margin] 1fr;
    grid-template-rows: 
        [header-1] 130px 
        [header-2] auto 
        [main-content] auto; 
}


.top-header-right-placeholder {
    grid-row-start: header-1;
    grid-column-start: right-margin;
    background-color: #f5f5f5;
}


.top-header-content {
    width: 1140px;
    grid-column-start: content-col-1;
    grid-column-end: span 2;

    display: flex;
    background-color: #f5f5f5;
}

.top-header-content .logo {
    height: 130px;
    width: 190px;
    background-color: white;
}

.top-header-content .logo img {
    /* Center the image horizontally in the container */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-header-content .nav-menu {
    display: flex;
    /* flex positionning of children */
    align-items: end;
    justify-content: center;

    /* flex property of this element, relative to its parent,
    asking to take the whole available width in the parent */
    flex-grow: 1;

    padding-bottom: 15px;
}

.top-header-content .nav-menu .menu-item {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    margin-right: 30px;
}

.top-header-content .nav-menu .menu-item.active,
.top-header-content .nav-menu .menu-item:hover {
    color: #61259e;
}


.title-banner-background {
    grid-row-start: header-2;
    grid-column-start: left-margin;
    grid-column-end: -1;
    background-color: #2d1a47;
}

.title-banner-content {
    grid-row-start: header-2;
    grid-column-start: content-col-1;
    grid-column-end: span 2;
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    color: white;
}

.title-banner-content h1 {
    margin: 0;
}


.title-banner-content .left-placeholder {
    width: 190px;
    background-color: #61259e;
}

.title-banner-content .right-header-content {
    padding: 40px;

}


.title-banner-content .right-header-content h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.title-banner-content .right-header-content .subtitle-menu {
    font-size: 12px;
}

.title-banner-content .right-header-content .subtitle-menu .menu-item.active,
.title-banner-content .right-header-content .subtitle-menu .menu-item:hover,
.title-banner-content .right-header-content .subtitle-menu .delimiter {
    color: #A26CDA;
}


.page-content-left, .page-content-right {
    margin-top: 40px
}

.page-content-left {
    grid-column-start: content-col-1;
    padding-right: 30px;
    line-height: 2em;
}

.page-content-right {
    grid-column-start: content-col-2;
    padding-left: 30px;
}

.page-content-left h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
}

.content-menu .menu-item {
    color: #999999;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-menu hr {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #CCCCCC;
}