body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 14px;
    margin: 0;
}


/* DEMO 1 */

/* .page-content {
    width: 1140px;
    margin-right: auto;
    margin-left:auto;
    background-color: green;
} */



/* DEMO 2 */

/* .page-content {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;

    display: flex;
}

.page-content .left-panel {
    background-color: red;

    width: 66.66%;
    padding-right: 30px;

}

.page-content .right-panel {
    background-color: blue;

    width: 33.33%;
    padding-left: 30px;
} */