

<meta charset="utf-8">

<h1>Mines Saint Étienne</h1>
<hr>
<ul>
  <li>L'École</li>
  <li>Présentation</li>
  <li>Recherche</li>
</ul>
<hr>
<p>
  <span>Membre de </span>
  <a href="https://www.imt.fr/">l'Institut Mines-Télécom</a>, 
  <span>
    rattachée au Ministère en charge de l’industrie, 
    l’École des mines de Saint-Étienne figure parmi les plus prestigieuses écoles d’ingénieurs de France.
  </span>
</p>
  
